---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/posts
    body:
      encoding: UTF-8
      string: title=My%20First%20Post&content_format=markdown&content=%23%20My%20First%20Post%0A%23%23%20I%20created%20this%20post%20via%20API
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Location:
      - https://medium.com/@nmisharin/my-first-post-7f5c653c9ff3
      Medium-Fulfilled-By:
      - valencia/main-20210715-200343-68f173089a
      X-Obvious-Info:
      - 20210716-0031-root,64a9d47f
      X-Opentracing:
      - '{"ot-tracer-spanid":"442793d6399e24c4","ot-tracer-traceid":"5bbd861d467976df","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7f5c653c9ff3","title":"My First Post","authorId":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","url":"https://medium.com/@nmisharin/my-first-post-7f5c653c9ff3","canonicalUrl":"","publishStatus":"","publishedAt":1626410440601,"license":"","licenseUrl":"https://policy.medium.com/medium-terms-of-service-9db0094a1e0f","tags":[]}}'
  recorded_at: Fri, 16 Jul 2021 04:40:40 GMT
recorded_with: VCR 6.0.0
