---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20210715-200343-68f173089a
      X-Obvious-Info:
      - 20210716-0031-root,64a9d47f
      X-Opentracing:
      - '{"ot-tracer-spanid":"03f93f1f351861eb","ot-tracer-traceid":"19d4eb7cde22e75d","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","username":"nmisharin","name":"Test
        Api Key","url":"https://medium.com/@nmisharin","imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*dmbNkD5D-u45r44go_cf0g.png"}}'
  recorded_at: Fri, 16 Jul 2021 04:36:58 GMT
- request:
    method: get
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/publications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20210715-200343-68f173089a
      X-Obvious-Info:
      - 20210716-0031-root,64a9d47f
      X-Opentracing:
      - '{"ot-tracer-spanid":"08a5b0715149c10c","ot-tracer-traceid":"6210774cfe2b2513","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"eca1ba5ae1ca","name":"ILLUMINATION","description":"We
        curate and disseminate outstanding articles from diverse domains and disciplines
        to create fusion and synergy.","url":"https://medium.com/illumination","imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*lTGoREgdOsvBq2YFMQOv0Q.png"}]}'
  recorded_at: Fri, 16 Jul 2021 04:36:58 GMT
recorded_with: VCR 6.0.0
